<h1>PicStory</h1>
<h2>
    <% if logged? %>
        <h2>Hola <%= current_user.name%>!</h2>
    <% end %>
</h2>
<p>Conoce las mejores historias y no olvides iniciar sesión! </p>
<p>Si no tienes cuenta regístrate, es gratis!</p>
